<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="container">
    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
    <div class="left">
        <h1 id="plantTitle">Balls title</h1>
        <div class="box"><h2 id="infoTitle">Balls info</h2></div>
        <br>
        <img src="{{ url_for('static', filename='image.jpg') }}" alt="No Image">
    </div>
    <div class="right">
        <a class="button zoom" href="{{ url_for('cam') }}">Register a Plant</a>
        <a class="button zoom" href="{{ url_for('logger') }}">Activity Log</a>
    </div>

</body>

<script>
    //is possible, updates readout for current plant :)
    function fetchPlant() {
        fetch('/static/data.json')
        .then(response => {
            if (!response.ok) {
                throw new Error('JSON file not found, assuming no plant');  // Handle missing file
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('plantTitle').innerText = data.commonname;
            document.getElementById('infoTitle').innerHTML = "Needs <b>" + data.sunlight + " hours</b> of light per day, and a <b>" + data.moisture + "%</b> soil moisture level.";
        })
        .catch(error => {
            console.error('Error fetching JSON:', error);
            document.getElementById('plantTitle').innerText = "No plant registered!";
            document.getElementById('infoTitle').innerText = "Please register a plant to continue.";
        });
    }

    // Auto-load message when the page loads
    window.onload = fetchPlant;
</script>


</html>
